/* ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░ */
/* ░░░░░░░░░░░░░░                       MEDIA QUERIES / GALERIA DE IMAGENES-PROYECTOS / ARREGLAR                                          ░░░░░░░░░░░░░░ */
/* ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░ */

@media (min-width: 1300px) and (max-width: 1440px) {
  .nav__menu {
    display: block;
  }

  .nav__link--menu {
    position: fixed;
    background-color: #000;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: .7s opacity;
  }

  .nav__link--show {
    --show: block;
    opacity: 1;
    pointer-events: unset;
  }

  .nav__close {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    cursor: pointer;
  }

  .industria__gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin: 75px auto;
    max-width: 1200px;
    width: 100%;
    padding: 0 2rem;
  }

  .estadios__gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin: 75px auto;
    max-width: 1200px;
    width: 100%;
    padding: 0 2rem;
  }
}

@media (min-width: 1131px) and (max-width: 1300px) {
  .nav__menu {
    display: block;
  }

  .nav__link--menu {
    position: fixed;
    background-color: #000;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: .7s opacity;
  }

  .nav__link--show {
    --show: block;
    opacity: 1;
    pointer-events: unset;
  }

  .nav__close {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    cursor: pointer;
  }

  .viviendas__gallery,
  .viviendas__subtitle {
    margin-top: 0px;
  }

  .edificios__subtitle {
    margin-top: 70px;
  }

  .edificios__gallery {
    margin-top: 50px;
  }

  .industria__gallery {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin-top: 70px;
  }

  .hidraulicas__gallery {
    margin-top: -10px;
  }

  .contenciones__gallery {
    margin-top: 80px;
  }

  .estadios__gallery {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin-top: 70px;
  }

  .especiales__gallery {
    margin-top: 0px;
  }

  .patologias__gallery {
    margin-top: 0px;
  }
}

@media (min-width: 920px) and (max-width: 1131px) {
  .nav__menu {
    display: block;
  }

  .nav__link--menu {
    position: fixed;
    background-color: #000;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: .7s opacity;
  }

  .nav__link--show {
    --show: block;
    opacity: 1;
    pointer-events: unset;
  }

  .nav__close {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    cursor: pointer;
  }

  .viviendas__gallery,
  .viviendas__subtitle {
    margin-top: 0px;
  }

  .edificios__subtitle {
    margin-top: 70px;
  }

  .edificios__gallery {
    margin-top: 70px;
    gap: 25px;
  }

  .industria__gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin: 75px auto;
    max-width: 1200px;
    width: 100%;
    padding: 0 2rem;
  }

  .puentes__subtitle {
    margin-top: 0px;
  }

  .puentes__gallery {
    margin-top: 0px;
  }


  .hidraulicas__subtitle {
    margin-top: 10px;
  }

  .hidraulicas__gallery {
    margin-top: 0px;
  }

  .contenciones__subtitle {
    margin-top: 10px;
  }

  .contenciones__gallery {
    margin-top: 0px;
  }

  .estadios__gallery {
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
    margin-top: 70px;
  }

  .especiales__subtitle {
    margin-top: 10px;
  }

  .especiales__gallery {
    margin-top: 0px;
  }

  .patologias__subtitle {
    margin-top: 0px;
  }

  .patologias__gallery {
    margin-top: 0px;
  }
}

@media (min-width: 767px) and (max-width: 920px) {
  .nav__menu {
    display: block;
  }

  .nav__link--menu {
    position: fixed;
    background-color: #000;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: .7s opacity;
  }

  .nav__link--show {
    --show: block;
    opacity: 1;
    pointer-events: unset;
  }

  .nav__close {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    cursor: pointer;
  }

  .viviendas__gallery,
  .viviendas__subtitle {
    margin-top: 0px;
  }

  .edificios__subtitle {
    margin-top: 50px;
  }

  .edificios__gallery {
    margin-top: 0px;
    grid-template-columns: repeat(4, 1fr);
  }

  .industria__gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin: 75px auto;
    max-width: 1200px;
    width: 100%;
    padding: 0 2rem;
  }

  .puentes__subtitle {
    margin-top: 10px;
  }

  .puentes__gallery {
    margin-top: 0px;
  }


  .hidraulicas__gallery {
    margin-top: -10px;
  }

  .contenciones__gallery {
    margin-top: 0px;
  }

  .estadios__gallery {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    margin-top: 50px;
  }

  .especiales__gallery {
    margin-top: 0px;
  }

  .patologias__subtitle {
    margin-top: 10px;
  }

  .patologias__gallery {
    margin-top: 0px;
  }
}

@media (min-width: 601px) and (max-width: 767px) {
  .nav__menu {
    display: block;
  }

  .nav__link--menu {
    position: fixed;
    background-color: #000;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: .7s opacity;
  }

  .nav__link--show {
    --show: block;
    opacity: 1;
    pointer-events: unset;
  }

  .nav__close {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    cursor: pointer;
  }

  .viviendas__subtitle {
    margin-top: 0px;
  }

  .viviendas__gallery {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 20px;
    padding: 0 0.5rem;
    margin-top: 0px;
  }

  .edificios__subtitle {
    margin-top: 70px;
  }

  .edificios__gallery {
    margin-top: 50px;
    grid-template-columns: repeat(4, 1fr);
  }

  .industria__gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin: 75px auto;
    max-width: 1200px;
    width: 100%;
    padding: 0 2rem;
  }

  .puentes__subtitle {
    margin-top: 10px;
  }

  .puentes__gallery {
    margin-top: 0px;
  }


  .hidraulicas__gallery {
    margin-top: -10px;
  }

  .contenciones__gallery {
    margin-top: 0px;
  }

  .estadios__gallery {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    margin-top: 50px;
  }

  .especiales__gallery {
    margin-top: 0px;
  }

  .patologias__subtitle {
    margin-top: 10px;
  }

  .patologias__gallery {
    margin-top: 0px;
  }
}

@media (min-width: 481px) and (max-width: 601px) {
  .nav__menu {
    display: block;
  }

  .nav__link--menu {
    position: fixed;
    background-color: #000;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: .7s opacity;
  }

  .nav__link--show {
    --show: block;
    opacity: 1;
    pointer-events: unset;
  }

  .nav__close {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    cursor: pointer;
  }

  .viviendas__subtitle {
    margin-top: 0px;
  }

  .viviendas__gallery {
    grid-template-columns: repeat(3, minmax(115px, 1fr));
    gap: 20px;
    padding: 0 0.5rem;
    margin-top: 0px;
  }

  .edificios__subtitle {
    margin-top: 70px;
  }

  .edificios__gallery {
    margin-top: 50px;
    grid-template-columns: repeat(4, 1fr);
  }

  .industria__gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin: 75px auto;
    max-width: 1200px;
    width: 100%;
    padding: 0 2rem;
  }

  .puentes__subtitle {
    margin-top: 10px;
  }

  .puentes__gallery {
    margin-top: 0px;
  }


  .hidraulicas__gallery {
    margin-top: -10px;
    grid-template-columns: repeat(3, 1fr);
  }

  .contenciones__gallery {
    margin-top: 0px;
  }

  .estadios__gallery {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    margin-top: 50px;
  }

  .especiales__subtitle {
    padding-top: 50px;

  }

  .especiales__gallery {
    margin-top: 50px;
    grid-template-columns: repeat(3, 1fr);
  }

  .patologias__subtitle {
    margin-top: 10px;

  }

  .patologias__gallery {
    margin-top: 0px;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 479px) {
  .nav__menu {
    display: block;
  }

  .nav__link--menu {
    position: fixed;
    background-color: #000;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: .7s opacity;
  }

  .nav__link--show {
    --show: block;
    opacity: 1;
    pointer-events: unset;
  }

  .nav__close {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    cursor: pointer;
  }

  .viviendas__subtitle {
    margin-top: -10px;
  }

  .viviendas__gallery {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 20px;
    padding: 0 0.5rem;
    margin-top: 0px;
  }

  .edificios__subtitle {
    margin-top: 70px;
  }

  .edificios__gallery {
    margin-top: 70px;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .industria__gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 75px auto;
    max-width: 1200px;
    width: 100%;
    padding: 0 2rem;
  }

  .puentes__subtitle {
    margin-top: 10px;
  }

  .puentes__gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 75px auto;
    max-width: 1200px;
    width: 100%;
    padding: 0 2rem;
  }


  .hidraulicas__gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 75px auto;
    max-width: 1200px;
    width: 100%;
    padding: 0 2rem;
    margin-top: 0px;
  }

  .contenciones__gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 75px auto;
    max-width: 1200px;
    width: 100%;
    padding: 0 2rem;
  }

  .estadios__gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 75px auto;
    max-width: 1200px;
    width: 100%;
    padding: 0 2rem;
    margin-top: 10px;
  }

  .especiales__gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 75px auto;
    max-width: 1200px;
    width: 100%;
    padding: 0 2rem;
    margin-top: 0px;
  }

  .patologias__subtitle {
    margin-top: 10px;
  }

  .patologias__gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 75px auto;
    max-width: 1200px;
    width: 100%;
    padding: 0 2rem;
    margin-top: 0px;
  }
}