/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,300&family=Special+Gothic+Expanded+One&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root {
    --padding-container: 100px 0;
    --color-title: #001a49;
}

html,
body {
    height: 100%;
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
    font-family: "Inter", sans-serif;
    scroll-padding-top: 65px;
}

section:not(#clientes):not(.footer__copy):not(.footer):not(.footer__container) {
    height: 100vh;
    /* Pantalla completa */
    scroll-snap-align: start;
}

/* header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.7s;
    padding: 30px 20px;
} */

.container {
    width: 100%;
    /* max-width: 1200px; */
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    /* grid-template-rows: 100px 1fr; */
    color: #fff;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../src/img/fotosweb/INICIO.png);
    background-size: cover;
    z-index: -1;
}

/* NAV */


.nav {
    --padding-container: 0;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    z-index: 1000;
    padding: 20px 40px;
    transition: 0.5s;
}

.nav.abajo {
    background: #000;
    padding: 25px 50px;
    height: 70px;
}

.nav__logo img {
    margin-top: 5px;
    width: 200px;
}

.nav__title {
    font-weight: 300;
}

.nav__link {
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 4em;
    font-weight: 500;
}

.nav__items {
    list-style: none;
}

.nav__links {
    margin-left: auto;
    padding: 0;
    text-decoration: none;
    color: #fff;
}

.nav__menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__img {
    display: block;
    width: 30px;
}

.nav__close {
    display: var(--show, none);
}


/* HERO CONTAINER */

.hero__container {
    color: black;
    /* max-width: 800px; */
    --padding-container: 0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-left: 70px;
    /* padding-bottom: 100px; */
    text-align: left;
}

.hero__title {
    font-size: 3rem;

}

.hero__paragraph {
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 800;
    color: #EDE208;
    /* text-shadow: 1px 1px 1px black, 0 0 3px gold; */
}

.hero__span {
    font-weight: 900;
    /* text-shadow: 1px 1px 1px black, 0 0 3px #EDE208; */
}

.cta {
    display: inline-block;
    background-color: grey;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}


/* ABOUT */


.container__about {
    display: flex;
    justify-content: space-between;
    /* Separa en dos columnas */
    align-items: center;
    /* Centra verticalmente */
    height: 100vh;
    min-height: 100vh;
    padding: 2rem;
    padding-bottom: 30px;
    background-image: url(../src/img/fotosweb/SERVICIOS.png);
    background-color: rgb(86, 86, 86);
    background-size: 0vh;
    background-position: center;
    background-size: cover;
    /* scroll-margin-top: 80px; */
}


.about {
    flex: 2;
    /* Sección izquierda */
    text-align: left;
    padding: 2rem;
    /* Espaciado interno */
    margin-left: 5%;
    /* Separa del borde izquierdo */
    max-width: 600px;
    padding-top: 100px;
    /* Limita el ancho del texto */
}


.subtitle {
    position: relative;
    font-size: 3rem;
    margin-bottom: 20px;
    z-index: 2;
    color: #E4E5E4;
    font-weight: 600;
}

.about__subtitle {
    color: rgb(235, 234, 234);
}

.about__text {
    position: relative;
    z-index: 1;
    line-height: 1.3;
    margin-top: 10px;
    color: #E4E5E4;
    font-size: 15px;
    text-align: justify;
    font-weight: 400;
}

.about__list {
    padding-top: 10px;
    padding-left: 20px;
    /* Espaciado para que no quede pegado */
    line-height: 1;
    font-size: 15px;
    color: #E4E5E4;
    font-weight: 400;
}

.about__list li {
    margin-bottom: 10px;
}

.about__cards {
    flex: 1;
    /* Sección derecha */
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 2rem;
    /* Igual que en `.about` */
    margin-right: 5%;
    margin-top: 30px;
}

.about__main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 50px;
    margin-bottom: 85px;
}


.about__icons {
    width: 230px;
    /* Tamaño fijo para asegurar la forma */
    height: 230px;
    /* Igual al ancho para mantener proporción */
    background-color: #e4e5e4;
    /* Fondo para destacar */
    border-radius: 10%;
    /* Convierte en círculo */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    font-size: 14.5px;
}

.about__icon {
    width: 120px;
    margin-bottom: 25px;
}

.about__title {
    color: #2e2d2e;
    /* text-shadow: 1px 1px 1px black, 0 0 1px grey; */
    font-weight: 600;
}

.about__span {
    font-weight: 800;
    color: #EDE208;
}

/*------------------------------------------------------------------------!!!!!!!! KNOWLEDGE */


.knowledge {
    background-image: url(../src/img/fotosweb/QUIENES\ SOMOS.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}


.knowledge__container {
    display: grid;
    height: 100vh;
    max-width: 1200px;
    grid-template-columns: 2fr 1fr;
    gap: 2em;
    align-items: center;
    line-height: 1.3;
    font-size: 15px;
}

.knowledge__paragraph {
    font-weight: 400;
    color: #E4E5E4;
}

.knowledge__paragraph2 {
    font-weight: 400;
    color: #E4E5E4;
}

.knowledge__picture {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    gap: 20px;
    /* Espacio entre las cards */
}

.knowledge__span {
    font-weight: 800;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centra los elementos */
    justify-content: space-between;
    /* Distribuye bien los espacios */
    background-color: #E4E5E4;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    width: 210px;
    /* Ajustamos tamaño uniforme */
    height: 280px;
    /* Igual altura en todas las cards */
}


.profile__name,
.profile__role {
    text-align: center;
}

/* .profile__info {
    display: flex;
    flex-direction: column; 
    justify-content: center;
}  */

.profile__role {
    color: #2E2D2C;
    font-weight: 400;
}

.profile__img {
    width: 100px;
    height: 100px;
    border-radius: 10%;
    margin-bottom: 30px;
    margin-top: 10px;
}

.profile__name {
    font-size: 18px;
    text-align: center;
    /* text-shadow: 1px 1px 1px grey; */
    font-weight: 800;
}

.profile__linkedin {
    margin-top: auto;
    /* Empuja el ícono de LinkedIn hacia abajo */
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkedin__icon {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
}

.profile__linkedin:hover .linkedin__icon {
    transform: scale(1.2);
    /* Pequeño efecto al pasar el mouse */
}

/* PRICE */

.price {
    text-align: center;
}

.price__container {
    height: 100vh;
    background-image: url(../src/img/fotosweb/TRABAJOS-PROYECTOS.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1000;
    /* background-color: rgb(29, 147, 149); */
}

.subtitle__price {
    position: relative;
    font-size: 3rem;
    margin-top: -50px;
    z-index: 2;
    /* Asegura que quede sobre `.about__text` */
    color: #aaaaaa;
    /* text-shadow: 1px 1px 1px black; */
    font-weight: 600;
}

.price__table {
    padding-top: 25px;
    /* margin-top: 50px; */
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
}

.price__text {
    padding-top: 40px;
    font-weight: 500;
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.5rem;
    position: relative;
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 20px;
    /* text-shadow: 1px 1px 1px black; */
}

.price__button {
    text-decoration: none;
}

.price__element {
    background-image: url(../src/img/proyectosfondos/VER\ MÁS.png);
    background-size: contain;
    /* Ajusta la imagen para que se vea completa */
    background-repeat: no-repeat;
    /* Evita que se repita */
    background-position: center;
    /* Centra la imagen en el contenedor */
    text-align: center;
    border-radius: 13px;
    width: 1000px;
    height: 450px;
    padding: 50px;
    transition: transform 0.3s ease;
}

.price__element:hover {
    transform: scale(1.05);
}

.price__name {
    color: #2E2D2C;
    font-weight: 600;
    font-size: 1.2rem;
    /* text-shadow: 1px 1px 1px black, 0 0 3px grey */
}

.price__price {
    font-size: 2.5rem;
    color: var(--color-price);
}

.price__items {
    margin-top: 35px;
    display: grid;
    /* gap: 1em; */
    /* padding: 0; */
    list-style: none;
    margin-bottom: 50px;
    justify-content: center;
    color: var(--color-items);
}

.price__img {
    width: 120px;
    /* Ajusta según el tamaño que quieras */
    height: 100px;
    transition: transform 0.3s ease;
}

/*-----------------------------------------------------------------------------------------------------------*/

/* SCROLLER */

.scroll {
    scroll-snap-align: start;
    position: relative;
    display: flex;
    width: 100%;
    overflow: hidden;
}

.scroll__title {
    text-align: center;
}

.subtitle--clientes {
    font-size: 2.5rem;
    font-weight: bold;
    background-color: #1E449C;
}


.scroll div {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    gap: 20px;
    /* Espacio entre los logos */
    white-space: nowrap;
    animation: animate 50s linear infinite;
}

@keyframes animate {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.scroll:hover div {
    animation-play-state: paused;
}

.scroll__body {
    display: flex;
    background-color: #efefef;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
}

.scroll__img1,
.scroll__img2,
.scroll__img3,
.scroll__img4,
.scroll__img5,
.scroll__img6,
.scroll__img7,
.scroll__img8,
.scroll__img9,
.scroll__img10,
.scroll__img11,
.scroll__img12,
.scroll__img13,
.scroll__img14,
.scroll__img15,
.scroll__img16,
.scroll__img17,
.scroll__img18,
.scroll__img19,
.scroll__img20,
.scroll__img21,
.scroll__img22 {
    width: 200px;
    height: 200px;
    margin: 0 25px;
    transition: .7s;
    cursor: pointer;
}



/* QUESTIONS */

#contacto {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* Para mantener elementos centrados */
    align-items: center;
}

.questions {
    text-align: left;
    background-image: url(../src/img/fotosweb/CONTACTO.png);
    padding: 50px 20px;
}

.questions__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* Distribuye los elementos en la sección */
    align-items: flex-start;
    /* Alinea el contenido al inicio */
    gap: 2rem;
    position: relative;
    /* Para posicionar el título */
}

.subtitle__questions {
    display: flex;
    font-size: 3rem;
    position: absolute;
    top: 100px;
    /* Lo coloca en la parte superior */
    left: 200px;
    /* Lo alinea a la izquierda */
    font-size: 3rem;
    margin: 0;
    color: #E4E5E4;
    /* text-shadow: 1px 1px 1px black; */
    text-align: center;
    /* Centra el texto */
}


.form {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
    width: 50%;
    margin-top: 50px;
    margin-left: 180px;
    margin-right: 180px;
}


.form__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

.form__input {
    width: 30vw;
    padding: 12px;
    border: 2px solid #E4E5E4;
    /* Usa el dorado de los textos */
    background-color: #2E2D2C;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 5px;
    color: white;
    outline: none;
}

.form__input::placeholder {
    color: rgb(255, 255, 255);
}

.form__input--message {
    min-height: 140px;
    resize: none;
}

.input__questions {
    width: 25%;
    margin-top: 40px;
    padding: 12px;
    background-color: #2E2D2C;
    /* Coincide con el botón .cta */
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 32px;
    /* Igual que el botón .cta */
    transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover {
    background-color: #E4E5E4;
    /* Un gris más claro */
    color: white;
    transition: background-color 0.5s ease-in-out;
}

.map__questions {
    flex: 2;
    /* Igual al formulario, para que ambos ocupen el mismo espacio */
    padding-right: 120px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 50%;
}

.map__questions iframe {
    max-width: 100%;
}


/* FOOTER */

.footer {
    background-color: #1E449C;
}

.footer__title {
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 30px;
}

.footer__newsletter {
    margin-bottom: 15px;
}

.footer__title,
.footer__newsletter {
    color: #fff;
    font-size: 17px;
}

.footer__container {
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 60px;
}

.nav__link__footer {
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 3em;
}

.nav--footer {
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
}

.nav__link--footer {
    display: flex;
    margin: 0;
    margin-right: 20px;
    flex-wrap: wrap;
}

.logo__footer img {
    padding-top: 10px;
    width: 275px;
}

.footer__inputs {
    display: flex;
    overflow: hidden;
}

.footer__input {
    background-color: #fff;
    height: 50px;
    display: block;
    padding-left: 10px;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    border: none;
    margin-right: 16px;
}

.footer__submit {
    margin-left: auto;
    display: inline-block;
    height: 50px;
    padding: 0 20px;
    background-color: #2091F9;
    border: none;
    font-size: 1rem;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.footer__linkedin {
    filter: invert(1);
    width: 40px;
}

.footer__copy {
    --padding-container: 30px 0;
    text-align: center;
    color: #fff;
}

.footer__copyright {
    font-weight: 300;
    margin-bottom: 10px;
    font-size: 15px;
}

.footer__social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.footer__social img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.footer__instagram img {
    width: 22px;
    /* antes 40px */
    height: 22px;
    /* mantiene proporción */
    object-fit: contain;
}

.footer__facebook img {
    width: 32px;
    height: 32px;
    object-fit: contain;
}

.footer__icons {
    display: inline-flex;
    margin-bottom: 10px;
    margin-top: 10px;
}

.footer__img {
    width: 40px;
}

.footer__social img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

/* ----------------------------------------WHATSAPP---------------------------------- */

.btn-wsp {
    position: fixed;
    width: 70px;
    height: 70px;
    bottom: 25px;
    right: 25px;
    background: #25d366;
    border-radius: 50%;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
    transition: all 300ms ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-wsp:hover {
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
}

.img-wsp {
    padding-top: 2px;
    width: 50px;
    height: 50px;
    transition: filter 300ms ease;
}

/* Invertir el color del ícono al hacer hover */
.btn-wsp:hover .img-wsp {
    filter: brightness(0) saturate(100%) invert(41%) sepia(91%) saturate(749%) hue-rotate(94deg) brightness(95%) contrast(92%);
}


/* --------------------------------------------PROYECTOS--------------------------------------------- */

/*--------------------------------- VIVIENDAS -------------------------------------*/

.viviendas__container {
    background-image: url(../src/img/proyectosfondos/Frame\ 6.png);
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
}

.viviendas--subtitle__container {
    position: absolute;
    top: 125px;
    left: 50%;
    transform: translateX(-50%);
    color: #E4E5E4;
    text-align: center;
    font-size: 3rem;
    padding-top: 15px;
}

.viviendas__subtitle {
    text-align: center;
    font-size: 2.7rem;
    color: #E4E5E4;
    font-weight: 600;
}

.viviendas__gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 50px;
    margin-top: 150px;
}

.viviendas__gallery img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
    display: block;
    transition: transform 0.3s ease;
    border-radius: 7px;
}

.viviendas__gallery img:hover {
    transform: scale(1.1);
    /* Zoom leve al hacer hover */
}


/* EDIFICIOS */

.edificios__container {
    position: relative;
    background-image: url(../src/img/proyectosfondos/Frame\ 7.png);
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
}

.edificios--subtitle__container {
    position: absolute;
    top: 65px;
    color: #E4E5E4;
    text-align: center;
}

.edificios__subtitle {
    text-align: center;
    font-size: 2.7rem;
    color: #E4E5E4;
    font-weight: 600;
}

.edificios__gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    grid-gap: 50px;
    margin-top: 67px;
}

.edificios__gallery img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
    display: block;
    transition: transform 0.3s ease;
    border-radius: 7px;
}

.edificios__gallery img:hover {
    transform: scale(1.1);
    /* Zoom leve al hacer hover */
}

/* INDUSTRIAS */

.industria__container {
    position: relative;
    background-image: url(../src/img/proyectosfondos/Frame\ 8.png);
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
}

.industria--subtitle__container {
    position: absolute;
    top: 90px;
    color: #E4E5E4;
    text-align: center;
    font-size: 3rem;
}

.industria__subtitle {
    text-align: center;
    font-size: 2.7rem;
    color: #858585;
    font-weight: 600;
}

.industria__gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 100px;
    margin-top: 75px;
    margin-left: 100px;
    margin-right: 100px;
}

.industria__gallery img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
    display: block;
    transition: transform 0.3s ease;
    border-radius: 7px;
}

.industria__gallery img:hover {
    transform: scale(1.1);
    /* Zoom leve al hacer hover */
}

/* PUENTES */

.puentes__container {
    position: relative;
    background-image: url(../src/img/proyectosfondos/Frame\ 5.png);
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
}

.puentes--subtitle__container {
    position: absolute;
    top: 80px;
    color: #E4E5E4;
    text-align: center;
}

.puentes__subtitle {
    text-align: center;
    font-size: 2.7rem;
    color: #E4E5E4;
    font-weight: 600;
}

.puentes__gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 50px;
    margin-top: 80px;
}

.puentes__gallery img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
    display: block;
    transition: transform 0.3s ease;
    border-radius: 7px;
}

.puentes__gallery img:hover {
    transform: scale(1.1);
    /* Zoom leve al hacer hover */
}

/* HIDRAULICAS */

.hidraulicas__container {
    position: relative;
    background-image: url(../src/img/proyectosfondos/Frame\ 9.png);
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
}

.hidraulicas--subtitle__container {
    position: absolute;
    top: 90px;
    color: #E4E5E4;
    text-align: center;
}

.hidraulicas__subtitle {
    text-align: center;
    font-size: 2.7rem;
    color: #E4E5E4;
    font-weight: 600;
}

.hidraulicas__gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 50px;
    margin-top: 100px;
}

.hidraulicas__gallery img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
    display: block;
    transition: transform 0.3s ease;
    border-radius: 7px;
}

.hidraulicas__gallery img:hover {
    transform: scale(1.1);
    /* Zoom leve al hacer hover */
}

/* CONTENCIONES */

.contenciones__container {
    position: relative;
    background-image: url(../src/img/proyectosfondos/Frame\ 10.png);
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
}

.contenciones--subtitle__container {
    position: absolute;
    top: 90px;
    color: #E4E5E4;
    text-align: center;
}

.contenciones__subtitle {
    text-align: center;
    font-size: 2.7rem;
    color: #E4E5E4;
    font-weight: 600;
}

.contenciones__gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 50px;
    margin-top: 100px;
}

.contenciones__gallery img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
    display: block;
    transition: transform 0.3s ease;
    border-radius: 7px;
}

.contenciones__gallery img:hover {
    transform: scale(1.1);
    /* Zoom leve al hacer hover */
}

/* ESTADIOS */

.estadios__container {
    position: relative;
    background-image: url(../src/img/proyectosfondos/Frame\ 11.png);
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
}

.estadios--subtitle__container {
    position: absolute;
    top: 90px;
    color: #E4E5E4;
    text-align: center;
}

.estadios__subtitle {
    text-align: center;
    font-size: 2.7rem;
    color: #858585;
    font-weight: 600;
}

.estadios__gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 100px;
    margin-top: 90px;
    margin-left: 100px;
    margin-right: 100px;
}

.estadios__gallery img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
    display: block;
    transition: transform 0.3s ease;
    border-radius: 7px;
}

.estadios__gallery img:hover {
    transform: scale(1.1);
}

/* ESPECIALES */

.especiales__container {
    position: relative;
    background-image: url(../src/img/proyectosfondos/Frame\ 12.png);
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
}

.especiales--subtitle__container {
    position: absolute;
    top: 90px;
    color: #E4E5E4;
    text-align: center;
}

.especiales__subtitle {
    text-align: center;
    font-size: 2.7rem;
    color: #E4E5E4;
    font-weight: 600;
    padding-top: 25px;
}

.especiales__gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 50px;
    margin-top: 100px;
}

.especiales__gallery img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
    display: block;
    transition: transform 0.3s ease;
    border-radius: 7px;
}

.especiales__gallery img:hover {
    transform: scale(1.1);
}

/* PATOLOGIAS */

.patologias__container {
    position: relative;
    background-image: url(../src/img/proyectosfondos/Frame\ 13.png);
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
}

.patologias--subtitle__container {
    position: absolute;
    top: 90px;
    color: #E4E5E4;
    text-align: center;
}

.patologias__subtitle {
    text-align: center;
    font-size: 2.7rem;
    color: #E4E5E4;
    font-weight: 600;
    padding-top: 25px;
}

.patologias__gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 50px;
    margin-top: 100px;
}

.patologias__gallery img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
    display: block;
    transition: transform 0.3s ease;
    border-radius: 7px;
}

.patologias__gallery img:hover {
    transform: scale(1.1);
}

/* --------------------------------------------------------------------------------------------*/
/* NAV PROYECTOS */

.nav--proyectos .nav__link {
    gap: 2em;
    /* reduce el espacio entre ítems */
}

.nav--proyectos .nav__links {
    font-size: 1rem;
    /* achica el tamaño de letra */
}

/* MEDIA */

@media (min-width: 1281px) and (max-width: 1440px) {
    .nav {
        --padding-container: 0;
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        z-index: 1000;
        padding: 20px 40px;
        transition: 0.5s;
    }

    .nav.abajo {
        background: #000;
        padding: 25px 50px;
        height: 70px;
    }

    .nav__logo img {
        margin-top: 5px;
        width: 200px;
    }

    .nav__title {
        font-weight: 300;
    }

    .nav__link {
        margin-left: auto;
        padding: 0;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        gap: 3em;
        font-weight: 500;
    }

    .about {
        padding-top: 100px;
    }

    .container__about {
        padding-bottom: 30px;
    }

    .price__element {
        margin-top: 80px;
    }

}


@media (min-width: 1025px) and (max-width: 1280px) {
    .nav__menu {
        display: block;
    }

    .nav__link--menu {
        position: fixed;
        background-color: #000;
        top: 0;
        left: 0;
        height: 100%;
        width: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }

    .nav__link--show {
        --show: block;
        opacity: 1;
        pointer-events: unset;
    }

    .nav__close {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }

    .hero__title {
        font-size: 2.5rem;
    }

    .about__main {
        gap: 2em;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
    }

    .about {
        padding-top: 80px;
    }

    .container__about {
        padding-bottom: 30px;
    }

    .knowledge__container {
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        text-align: center;
        padding-bottom: 90px;
    }


    .knowledge__paragraph {
        padding: 20px;
    }

    .knowledge__paragraph2 {
        padding-bottom: 30px;
    }

    .knowledge__picture {
        padding-top: -30px;
    }

    .price__element {
        margin-top: 80px;
    }

    .subtitle__questions {
        margin-top: 60px;
        padding-right: 500px;
        left: 120px;
    }

    .form {
        padding-left: 50px;
        margin-left: 40px;
        margin-right: 100px;
    }

    .map__questions {
        padding-right: 50px;
    }

    .footer {
        padding: 30px;
    }
}


@media (min-width: 920px) and (max-width: 1024px) {
    .nav__menu {
        display: block;
    }

    .nav__link--menu {
        position: fixed;
        background-color: #000;
        top: 0;
        left: 0;
        height: 100%;
        width: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }

    .nav__link--show {
        --show: block;
        opacity: 1;
        pointer-events: unset;
    }

    .nav__close {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }

    .hero__title {
        font-size: 2.5rem;
    }


    .about__text,
    .about__list {
        font-size: 12px;
    }

    .about__icons {
        width: 200px;
        height: 200px;
    }

    .about__icon {

        height: 80px;
    }


    .knowledge__container {
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        text-align: center;
        padding-bottom: 90px;
    }


    .knowledge__paragraph {
        padding: 20px;
    }

    .knowledge__paragraph2 {
        padding-bottom: 30px;
    }

    .knowledge__picture {
        padding-top: -30px;
    }

    .subtitle__price {
        margin-top: -10px;

    }

    .price__element {
        margin-top: 30px;
        width: 900px;
        height: 500px;
    }

    .subtitle__questions {
        margin-top: 60px;
        padding-right: 500px;
        left: 120px;
    }

    .form {
        padding-left: 50px;
        margin-left: 40px;
        margin-right: 100px;
    }

    .map__questions {
        padding-right: 50px;
    }


    .footer__container {
        padding: 25px;
        align-items: center;
        text-align: center;
        gap: 1.2rem;
        /* Menos espacio entre bloques */
    }

    .logo__footer img {
        width: 200px;
        margin-bottom: 10px;
        padding-left: 30px;
    }

    .footer__social {
        flex-direction: row;
        gap: 1.5rem;
        margin-bottom: 10px;
    }

    .footer__inputs {
        flex-direction: column;
        align-items: center;
        gap: 8px;
        margin-bottom: 10px;
    }

    .footer__input,
    .footer__submit {
        width: 100%;
        margin: 0;
    }

    .footer__title {
        font-size: 1.2rem;
        margin-bottom: 15px;
    }

    .footer__form {
        padding-right: 30px;
    }

    .footer__newsletter {
        font-size: 0.95rem;
        margin: 10px;
    }

    .nav__link__footer {
        grid-auto-flow: row;
        justify-content: center;
        gap: 1rem;
        margin-top: 10px;
    }

    .footer__copy {
        padding: 15px 0;
        font-size: 0.85rem;
    }
}

@media (min-width: 767px) and (max-width: 920px) {
    .nav__menu {
        display: block;
    }

    .nav__link--menu {
        position: fixed;
        background-color: #000;
        top: 0;
        left: 0;
        height: 100%;
        width: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }

    .nav__link--show {
        --show: block;
        opacity: 1;
        pointer-events: unset;
    }

    .nav__close {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }

    .hero__title {
        font-size: 2.5rem;
    }

    .about {
        width: 200px;
        padding-top: 150px;
    }

    .about__main {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 30px;
        justify-items: center;
    }

    .about__icons {
        width: 150px;
        height: 150px;
        font-size: 13px;
    }

    .about__icon {

        width: 60px;
    }

    .about__cards {
        justify-content: center;
        margin-right: 0;
        padding: 1rem;
    }

    .about__text,
    .about__list {
        font-size: 12px;
    }

    .knowledge {
        padding: 15px;
    }

    .knowledge__container {
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        text-align: center;
        margin-top: -50px;
    }


    .knowledge__paragraph {
        padding: 20px;
    }

    .knowledge__paragraph2 {
        padding-bottom: 30px;
    }

    .knowledge__picture {
        padding-top: -30px;
    }

    .subtitle__price {
        margin-top: -10px;

    }

    .price__element {
        width: 700px;
        height: 500px;
    }

    .subtitle__questions {
        margin-top: 60px;
        padding-right: 500px;
        left: 120px;
    }

    .form {
        padding-left: 50px;
        margin-left: 40px;
        margin-right: 100px;
    }

    .map__questions {
        padding-right: 50px;
    }

    .input__questions {
        width: 50%;
    }

    .footer__container {
        padding: 25px;
        align-items: center;
        text-align: center;
        gap: 1.2rem;
        /* Menos espacio entre bloques */
    }

    .logo__footer img {
        width: 200px;
        margin-bottom: 10px;
        padding-left: 30px;
    }

    .footer__social {
        flex-direction: row;
        gap: 1.5rem;
        margin-bottom: 10px;
    }

    .footer__inputs {
        flex-direction: column;
        align-items: center;
        gap: 8px;
        margin-bottom: 10px;
    }

    .footer__input,
    .footer__submit {
        width: 100%;
        margin: 0;
    }

    .footer__title {
        font-size: 1.2rem;
        margin-bottom: 15px;
    }

    .footer__form {
        padding-right: 30px;
    }

    .footer__newsletter {
        font-size: 0.95rem;
        margin: 10px;
    }

    .nav__link__footer {
        grid-auto-flow: row;
        justify-content: center;
        gap: 1rem;
        margin-top: 10px;
    }

    .footer__copy {
        padding: 15px 0;
        font-size: 0.85rem;
    }
}


@media (min-width: 481px) and (max-width: 767px) {
    .nav__menu {
        display: block;
    }

    .nav__link--menu {
        position: fixed;
        background-color: #000;
        top: 0;
        left: 0;
        height: 100%;
        width: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }

    .nav__link--show {
        --show: block;
        opacity: 1;
        pointer-events: unset;
    }

    .nav__close {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }

    .hero__title {
        font-size: 2.5rem;
    }

    .hero__paragraph {
        font-size: 2.2rem;
        margin-left: -40px;
    }

    .about {
        width: 200px;
        padding-top: 150px;
        margin-left: -20px;
    }

    .about__main {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 30px;
        justify-items: center;
    }

    .about__icons {
        width: 120px;
        height: 120px;
        font-size: 9px;
    }

    .about__icon {

        width: 40px;
    }

    .about__cards {
        justify-content: center;
        margin-right: -10px;
        padding: 10px;
        padding-top: 40px;
    }

    .about__text,
    .about__list {
        font-size: 12px;
    }

    .knowledge {
        padding: 15px;
    }

    .knowledge__container {
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        text-align: center;
        margin-top: -50px;
    }

    .knowledge__paragraph {
        font-size: 12px;
    }

    .knowledge__paragraph2 {
        font-size: 12px;
    }


    .knowledge__picture {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding-top: 30px;
    }

    .profile {
        width: 85vw;
        max-width: 260px;
        height: auto;
        padding: 0.8rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }

    .profile__img {
        width: 60px;
        height: 60px;
        margin: 0;
        flex-shrink: 0;
    }

    .profile__name {
        font-size: 15px;
        text-align: center;
        font-weight: 700;
        flex-grow: 1;
    }

    .profile__linkedin {
        margin: 0;
        flex-shrink: 0;
    }

    .linkedin__icon {
        width: 36px;
        height: 36px;
    }

    .profile__role {
        display: none;
        /* Ocultamos el rol si no entra bien */
    }


    .subtitle__price {
        margin-top: -10px;
    }

    .price__element {
        width: 500px;
        height: 300px;
        margin-top: 60px;
    }

    .subtitle__questions {
        margin-top: 60px;
        padding-right: 500px;
        left: 120px;
    }

    .form {
        padding-left: 50px;
        margin-left: 40px;
        margin-right: 100px;
    }

    .map__questions {
        padding-right: 50px;
    }

    .input__questions {
        width: 50%;
    }

    .footer__container {
        padding: 25px;
        align-items: center;
        text-align: center;
        gap: 1.2rem;
        /* Menos espacio entre bloques */
    }

    .logo__footer img {
        width: 200px;
        margin-bottom: 10px;
        padding-left: 30px;
    }

    .footer__social {
        flex-direction: row;
        gap: 1.5rem;
        margin-bottom: 10px;
    }

    .footer__inputs {
        flex-direction: column;
        align-items: center;
        gap: 8px;
        margin-bottom: 10px;
    }

    .footer__input,
    .footer__submit {
        width: 100%;
        margin: 0;
    }

    .footer__title {
        font-size: 1.2rem;
        margin-bottom: 15px;
    }

    .footer__form {
        padding-right: 30px;
    }

    .footer__newsletter {
        font-size: 0.95rem;
        margin: 10px;
    }

    .nav__link__footer {
        grid-auto-flow: row;
        justify-content: center;
        gap: 1rem;
        margin-top: 10px;
    }

    .footer__copy {
        padding: 15px 0;
        font-size: 0.85rem;
    }
}

@media (max-width: 600px) {
    .map__questions {
        display: none;
    }

    .form__container {
        margin-top: 100px;
        align-items: center;
        width: 100%;
    }

    .form__input {
        width: 100%;
    }

    .input__questions {
        width: 100%;
        text-align: center;
    }
}


/* Mobile (hasta 480px) */
@media (max-width: 480px) {
    .nav__menu {
        display: block;
    }

    .nav__link--menu {
        position: fixed;
        background-color: #000;
        top: 0;
        left: 0;
        height: 100%;
        width: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }

    .nav__link--show {
        --show: block;
        opacity: 1;
        pointer-events: unset;
    }

    .nav__close {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }

    .hero__title {
        font-size: 2.5rem;
    }

    .hero__paragraph {
        font-size: 2.2rem;
        margin-left: -40px;
    }

    .about {
        width: 200px;
        padding-top: 150px;
        margin-left: -20px;
    }

    .about__main {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 30px;
        justify-items: center;
    }

    .about__icons {
        width: 120px;
        height: 120px;
        font-size: 9px;
    }

    .about__icon {

        width: 40px;
    }

    .about__cards {
        justify-content: center;
        margin-right: -10px;
        padding: 10px;
        padding-top: 40px;
    }

    .about__text,
    .about__list {
        font-size: 12px;
    }

    .knowledge {
        padding: 15px;
    }

    .knowledge__container {
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        text-align: center;
        margin-top: -50px;
    }

    .knowledge__paragraph {
        font-size: 12px;
    }

    .knowledge__paragraph2 {
        font-size: 12px;
    }


    .knowledge__picture {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding-top: 30px;
    }

    .profile {
        width: 85vw;
        max-width: 260px;
        height: auto;
        padding: 0.8rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }

    .profile__img {
        width: 60px;
        height: 60px;
        margin: 0;
        flex-shrink: 0;
    }

    .profile__name {
        font-size: 15px;
        text-align: center;
        font-weight: 700;
        flex-grow: 1;
    }

    .profile__linkedin {
        margin: 0;
        flex-shrink: 0;
    }

    .linkedin__icon {
        width: 36px;
        height: 36px;
    }

    .profile__role {
        display: none;
        /* Ocultamos el rol si no entra bien */
    }


    .subtitle__price {
        margin-top: -10px;
    }

    .price__element {
        width: 500px;
        height: 300px;
        margin-top: 60px;
    }

    .subtitle__questions {
        margin-top: 60px;

        left: 50px;
    }

    .form {
        width: 100%;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }

    .form__container {
        margin-top: 100px;
        align-items: center;
        width: 80%;
    }

    .form__input {
        width: 100%;
    }

    .input__questions {
        width: 100%;
        text-align: center;
    }

    .footer__container {
        padding: 25px;
        align-items: center;
        text-align: center;
        gap: 1.2rem;
        /* Menos espacio entre bloques */
    }

    .logo__footer img {
        width: 200px;
        margin-bottom: 10px;
        padding-left: 30px;
    }

    .footer__social {
        flex-direction: row;
        gap: 1.5rem;
        margin-bottom: 10px;
    }

    .footer__inputs {
        flex-direction: column;
        align-items: center;
        gap: 8px;
        margin-bottom: 10px;
    }

    .footer__input,
    .footer__submit {
        width: 100%;
        margin: 0;
    }

    .footer__title {
        font-size: 1.2rem;
        margin-bottom: 15px;
    }

    .footer__form {
        padding-right: 30px;
    }

    .footer__newsletter {
        font-size: 0.95rem;
        margin: 10px;
    }

    .nav__link__footer {
        grid-auto-flow: row;
        justify-content: center;
        gap: 1rem;
        margin-top: 10px;
    }

    .footer__copy {
        padding: 15px 0;
        font-size: 0.85rem;
    }
}

@media (min-width: 400px) and (max-width: 479px) {
    .nav__menu {
        display: block;
    }

    .nav__link--menu {
        position: fixed;
        background-color: #000;
        top: 0;
        left: 0;
        height: 100%;
        width: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }

    .nav__link--show {
        --show: block;
        opacity: 1;
        pointer-events: unset;
    }

    .nav__close {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }

    .hero__title {
        font-size: 2.5rem;
    }

    .hero__paragraph {
        font-size: 2.2rem;
        margin-left: -40px;
    }

    .about {
        width: 200px;
        padding-top: 150px;
        margin-left: -20px;
    }

    .about__main {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 30px;
        justify-items: center;
    }

    .about__icons {
        width: 120px;
        height: 120px;
        font-size: 9px;
    }

    .about__subtitle {
        margin-top: -50px;
    }

    .about__icon {

        width: 40px;
    }

    .about__cards {
        justify-content: center;
        margin-right: -10px;
        padding: 10px;
        padding-top: 40px;
    }

    .about__text,
    .about__list {
        font-size: 12px;
    }

    .knowledge {
        padding: 15px;
    }

    .knowledge__container {
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        text-align: center;
        margin-top: -50px;
    }

    .knowledge__paragraph {
        font-size: 12px;
    }

    .knowledge__paragraph2 {
        font-size: 12px;
    }


    .knowledge__picture {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding-top: 30px;
    }

    .profile {
        width: 85vw;
        max-width: 260px;
        height: auto;
        padding: 0.8rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }

    .profile__img {
        width: 60px;
        height: 60px;
        margin: 0;
        flex-shrink: 0;
    }

    .profile__name {
        font-size: 15px;
        text-align: center;
        font-weight: 700;
        flex-grow: 1;
    }

    .profile__linkedin {
        margin: 0;
        flex-shrink: 0;
    }

    .linkedin__icon {
        width: 36px;
        height: 36px;
    }

    .profile__role {
        display: none;
        /* Ocultamos el rol si no entra bien */
    }


    .subtitle__price {
        margin-top: -10px;
    }

    .price__element {
        width: 500px;
        height: 300px;
        margin-top: 60px;
    }

    .subtitle__questions {
        margin-top: 60px;

        left: 50px;
    }

    .form {
        width: 100%;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }

    .form__container {
        margin-top: 100px;
        align-items: center;
        width: 80%;
    }

    .form__input {
        width: 100%;
    }

    .input__questions {
        width: 100%;
        text-align: center;
    }

    .footer {
        padding: 20px;
    }

    .footer__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 20px;
        gap: 1.5rem;
    }

    .logo__footer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }

    .logo__footer img {
        width: 150px;
        padding: 0;
        margin: 0 auto;
    }

    .footer__social {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 20px;
    }

    .footer__form {
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__inputs {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .footer__input,
    .footer__submit {
        width: 100%;
    }

    .footer__title,
    .footer__newsletter {
        text-align: center;
    }

    .nav__link__footer {
        justify-content: center;
        margin-top: 20px;
    }

    .footer__copy {
        text-align: center;
        padding-top: 20px;
    }
}